<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />

    <script
      src="https://kit.fontawesome.com/6969ea2735.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <footer>
      <div
        id="footerPlaceholder_T2C06A9B6002_Col00"
        class="sf_colsIn container-fluid"
        data-sf-element="Container"
      >
        <div
          id="footerPlaceholder_T2C06A9B6009_Col00"
          class="sf_colsIn container footer__top footer-items-center"
          data-sf-element="Container"
        >
          <div class="sf_cols col-12 col-lg-3">
            <div class="sf_colsOut footer__element" style="width: 100%">
              <div
                id="footerPlaceholder_T2C06A9B6010_Col00"
                class="sf_colsIn sf_1col_1in_100"
              >
                <a href="/" class="logo-footer">
                  Landerlei A. Santos | <br />
                  Earth and Planetary Geoscientist
                </a>
              </div>
            </div>
          </div>

          <div class="sf_cols col-6 col-lg">
            <div class="sf_colsOut footer__element" style="width: 100%">
              <div
                id="footerPlaceholder_T2C06A9B6011_Col00"
                class="sf_colsIn sf_1col_1in_100 footer-align-items"
              >
                <div class="footer-align-items">
                  <ul class="footer__nav">
                    <li class="">
                      <a
                        href="https://earthobservatory.sg/about-us/contact-us"
                        target="_self"
                        >About Me</a
                      >
                    </li>
                    <li class="">
                      <a
                        href="https://earthobservatory.sg/about-us/careers"
                        target="_self"
                        >Research</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="sf_cols col-6 col-lg">
            <div class="sf_colsOut footer__element" style="width: 100%">
              <div
                id="footerPlaceholder_T2C06A9B6012_Col00"
                class="sf_colsIn sf_1col_1in_100 footer-align-items"
              >
                <div>
                  <div class="footer__heading">Follow Me<Menu:c></Menu:c></div>
                  <div class="footer__follow">
                    <a
                      title="Landerlei A. Santos Instagram"
                      href="https://instagram.com/"
                      target='"_blank"'
                    >
                      <img
                        src="/project/assets/logos/instagram-logo.png"
                        alt="Instagram logo"
                      />
                    </a>
                    <a
                      title="Landerlei A. Santos Twitter"
                      href="https://twitter.com/"
                      target='"_blank"'
                    >
                      <img
                        src="/project/assets/logos/twitter-logo.png"
                        alt="Twitter logo"
                      />
                    </a>
                    <a
                      title="Landerlei A. Santos Facebook"
                      href="http://www.facebook.com/"
                      target='"_blank"'
                    >
                      <img
                        src="/project/assets/logos/facebook-logo.png"
                        alt="Facebook logo"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="footerPlaceholder_T2C06A9B6015_Col00" class="sf_colsIn row">
          <div class="sf_cols col-12">
            <div class="sf_colsOut footer__bottom" style="">
              <div
                id="footerPlaceholder_T2C06A9B6016_Col00"
                class="sf_colsIn sf_1col_1in_100"
              >
                <div class="footer__bottom--content">
                  &copy; 2025 Landerlei A. Santos. All rights reserved.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
