<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />

    <script
      src="https://kit.fontawesome.com/6969ea2735.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <footer>
      <div
        id="footerPlaceholder_T2C06A9B6002_Col00"
        class="sf_colsIn container-fluid"
        data-sf-element="Container"
      >
        <div
          id="footerPlaceholder_T2C06A9B6009_Col00"
          class="sf_colsIn container footer__top footer-items-center"
          data-sf-element="Container"
        >
          <div class="sf_cols col-12 col-lg-3-footer logo-footer-width">
            <div class="sf_colsOut footer__element" style="width: 100%">
              <div
                id="footerPlaceholder_T2C06A9B6010_Col00"
                class="sf_colsIn sf_1col_1in_100"
              >
                <a href="/project/index.html" class="logo-footer">
                  <div class="logo-texts-align">
                    <div class="logo-site-info-footer">
                      <div>
                        <span class="title-logo-footer"
                          >LANDERLEI A. SANTOS</span
                        >
                      </div>

                      <div class="logo-site-divider-footer"></div>

                      <div>
                        <span class="title-logo-footer">GEOSCIENTIST</span
                        ><br />
                      </div>
                    </div>
                    <span class="subtitle-logo-footer"
                      >EARTH AND PLANETARY SURFACE PROCESSES</span
                    >
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="sf_cols col-6 col-lg">
            <div class="sf_colsOut footer__element" style="width: 100%">
              <div
                id="footerPlaceholder_T2C06A9B6011_Col00"
                class="sf_colsIn sf_1col_1in_100 footer-align-items"
              >
                <div class="footer-align-items">
                  <ul class="footer__nav">
                    <li class="">
                      <a href="/project/about-me.html" target="_self"
                        >About Me</a
                      >
                    </li>
                    <li class="">
                      <a href="/project/research/index.html" target="_self"
                        >Research</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="sf_cols col-6 col-lg">
            <div class="sf_colsOut footer__element" style="width: 100%">
              <div
                id="footerPlaceholder_T2C06A9B6012_Col00"
                class="sf_colsIn sf_1col_1in_100 footer-align-items"
              >
                <div>
                  <div class="footer__heading follow-me-title-footer">
                    More About Me<Menu:c></Menu:c>
                  </div>
                  <div class="footer__follow">
                    <a
                      title="Orcid"
                      href="https://orcid.org/0000-0003-3639-0592"
                      target='"_blank"'
                    >
                      <img
                        class="follow-me-links-footer"
                        src="/project/assets/logos/icon-orcid.jpeg"
                        alt="Orcid logo"
                      />
                    </a>
                    <a
                      title="Lattes"
                      href="http://lattes.cnpq.br/0743590440126470"
                      target='"_blank"'
                    >
                      <img
                        class="follow-me-links-footer"
                        src="/project/assets/logos/icon-lattes.png"
                        alt="Lattes logo"
                      />
                    </a>
                    <a
                      title="ReseachGate"
                      href="https://www.researchgate.net/profile/Landerlei-Santos"
                      target='"_blank"'
                    >
                      <img
                        class="follow-me-links-footer"
                        src="/project/assets/logos/icon-reseach-gate-secondarie.webp"
                        alt="ReseachGate logo"
                      />
                    </a>
                    <a
                      title="Google Scholar"
                      href="https://scholar.google.com.br/citations?user=nYRpu7wAAAAJ&hl"
                      target='"_blank"'
                    >
                      <img
                        class="follow-me-links-footer"
                        src="/project/assets/logos/logo-google-scholar.png"
                        alt="Google Scholar logo"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="footerPlaceholder_T2C06A9B6015_Col00" class="sf_colsIn row">
          <div class="sf_cols col-12">
            <div class="sf_colsOut footer__bottom" style="">
              <div
                id="footerPlaceholder_T2C06A9B6016_Col00"
                class="sf_colsIn sf_1col_1in_100"
              >
                <div class="footer__bottom--content">
                  &copy; 2025 Landerlei A. Santos. All rights reserved.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
