<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />

    <script
      src="https://kit.fontawesome.com/6969ea2735.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-wrapper">
          <div class="header-top">
            <a
              href="/project/index.html"
              class="site-logo"
              title="Earth Observatory of Singapore"
              >LOGO</a
            >
          </div>
          <div class="header-bottom bls-dropdown">
            <a
              class="hamburger-menu"
              data-bls-dropdown="data-bls-dropdown"
              data-target="#menuWrapper"
              href="javascript:void(0);"
              title="Menu"
              ><span><span></span><span></span></span
              ><span><span></span><span></span></span
              ><span><span></span><span></span></span
            ></a>
            <div class="header__navigation bls-dropdown__menu" id="menuWrapper">
              <nav class="nav-main">
                <ul class="nav-main__menu" data-main-menu="data-main-menu">
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/about-me.html"
                      title="About Me"
                    >
                      About Me
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                    <div class="nav-main__second--item">
                      <ul class="nav-main__ul nav-main__ul-1">
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/about-us/director-message"
                            title="Biography"
                            data-mega-menu-child-link=""
                          >
                            Biography
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/about-us/our-mission"
                            title="Research Interests"
                            data-mega-menu-child-link=""
                          >
                            Research Interests
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/about-us/our-people"
                            title="Academic Experience"
                            data-mega-menu-child-link=""
                          >
                            Academic Experience
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/about-us/contact-us"
                            title="Contact Me"
                            data-mega-menu-child-link=""
                          >
                            Contact Me
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a class="nav-main__link" href="/project/research/index.html" title="Research">
                      Research
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                    <div class="nav-main__second--item">
                      <ul class="nav-main__ul nav-main__ul-1">
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/research/climate"
                            title="Fluvial Processes and Landforms"
                            data-mega-menu-child-link=""
                          >
                            Fluvial Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/research/risk-and-society"
                            title="Aeolian Processes and Landforms"
                            data-mega-menu-child-link=""
                          >
                            Aeolian Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/research/tectonics"
                            title="Coastal and Submarine Processes and Landforms"
                            data-mega-menu-child-link=""
                          >
                            Coastal and Submarine Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/research/volcano"
                            title="Antropogenic Geomorphology"
                            data-mega-menu-child-link=""
                          >
                            Antropogenic Geomorphology
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/research/centres-labs"
                            title="Environmental Change"
                            data-mega-menu-child-link=""
                          >
                            Environmental Change
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/research/projects"
                            title="Planetary Geomorphology and Near-Surface Geophysics"
                            data-mega-menu-child-link=""
                          >
                            Planetary Geomorphology and Near-Surface Geophysics
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/earth-science-education"
                      title="Publications"
                    >
                      Publications
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                    <div class="nav-main__second--item">
                      <ul class="nav-main__ul nav-main__ul-1">
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/earth-science-education/community-projects"
                            title="Community Projects"
                            data-mega-menu-child-link=""
                          >
                            Community Projects
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/earth-science-education/earth-science-faqs"
                            title="Earth Science FAQs"
                            data-mega-menu-child-link=""
                          >
                            Earth Science FAQs
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/earth-science-education/multimedia"
                            title="Multimedia"
                            data-mega-menu-child-link=""
                          >
                            Multimedia
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/earth-science-education/resources-for-schools-and-educators"
                            title="Resources for Schools and Educators"
                            data-mega-menu-child-link=""
                          >
                            Resources for Schools and Educators
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="https://www.ntu.edu.sg/ase"
                            title="Asian School of the Environment"
                            target='"_blank"'
                            rel='"nofollow"'
                            data-mega-menu-child-link=""
                          >
                            Asian School of the Environment
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="https://wcms-prod-admin.ntu.edu.sg/ase/admissions/graduate-programmes/graduate-studies-at-ase"
                            title="PhD Programme"
                            target='"_blank"'
                            rel='"nofollow"'
                            data-mega-menu-child-link=""
                          >
                            PhD Programme
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a class="nav-main__link" href="/news" title="News">
                      News
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                    <div class="nav-main__second--item">
                      <ul class="nav-main__ul nav-main__ul-1">
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/news/blog"
                            title="Blog"
                            data-mega-menu-child-link=""
                          >
                            Blog
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <div class="nav-main__traduction"></div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
