<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />

    <script
      src="https://kit.fontawesome.com/6969ea2735.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="header-container">
        <!-- Para as cores de fundo do header -->
        <div class="header-left-bg"></div>
        <div class="header-right-bg"></div>

        <div class="header-wrapper">
          <div class="header-top">
            <a
              href="/project/index.html"
              class="site-logo"
              title="Landerlei A. Santos | Earth and Planetary Geoscientist"
            >
              <div class="logo-image">
                <img
                  src="/project/assets/home/perfil-landerlei.jpg"
                  alt="Landerlei A. Santos | Earth and Planetary Geoscientist"
                  class="logo-image-perfil"
                />
              </div>
              <div class="logo-texts-align">
                <div class="logo-site-info">
                  <div class="logo-site-block">
                    <span class="title-logo logo-name"
                      >LANDERLEI A. SANTOS</span
                    >
                  </div>

                  <div class="logo-site-divider"></div>

                  <div class="logo-site-block">
                    <span class="title-logo logo-area">GEOSCIENTIST</span><br />
                  </div>
                </div>
                <span class="subtitle-logo"
                  >EARTH AND PLANETARY SURFACE PROCESSES</span
                >
              </div>
            </a>
          </div>
          <div class="header-bottom bls-dropdown">
            <a
              class="hamburger-menu"
              data-bls-dropdown="data-bls-dropdown"
              data-target="#menuWrapper"
              href="javascript:void(0);"
              title="Menu"
              ><span><span></span><span></span></span
              ><span><span></span><span></span></span
              ><span><span></span><span></span></span
            ></a>
            <div class="header__navigation bls-dropdown__menu" id="menuWrapper">
              <nav class="nav-main">
                <ul class="nav-main__menu" data-main-menu="data-main-menu">
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/about-me.html"
                      title="About Me"
                    >
                      About Me
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/research/index.html"
                      title="Research & Skills"
                    >
                      RESEARCH & SKILLS
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                    <div class="nav-main__second--item">
                      <ul class="nav-main__ul nav-main__ul-1">
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/fluvial-processes-and-landforms.html"
                            title="Fluvial Processes and Landforms"
                          >
                            Fluvial Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/aeolian-processes-and-landforms.html"
                            title="Aeolian Processes and Landforms"
                          >
                            Aeolian Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/coastal-and-submarine-processes-andlandforms.html"
                            title="Coastal and Submarine Processes and Landforms"
                          >
                            Coastal and Submarine Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/antropogenic-geomorphology.html"
                            title="Antropogenic Geomorphology"
                          >
                            Antropogenic Geomorphology
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/planetary-processes-and-landforms.html"
                            title="Planetary Processes and Landforms"
                          >
                            Planetary Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/methodological-approach.html"
                            title="Methodological Approach"
                          >
                            Methodological Approach
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/publications/index.html"
                      title="Publications"
                    >
                      Publications
                    </a>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/maps-and-models.html"
                      title="Maps & Models"
                    >
                      MAPS & MODELS
                    </a>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/blog/index.html"
                      title="Blog"
                    >
                      Blog
                    </a>
                  </li>
                </ul>
                <div class="nav-main__traduction"></div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
