<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />

    <script
      src="https://kit.fontawesome.com/6969ea2735.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-wrapper">
          <div class="header-top">
            <a
              href="/project/index.html"
              class="site-logo"
              title="Landerlei A. Santos | Earth and Planetary Geoscientist"
            >
              <div class="logo-site-info">
                <div class="logo-site-block">
                  <span>Landerlei A. Santos</span>
                </div>

                <div class="logo-site-divider"></div>

                <div class="logo-site-block">
                  <span>Earth and Planetary</span><br />
                  <span>Geoscientist</span>
                </div>
              </div>
            </a>
          </div>
          <div class="header-bottom bls-dropdown">
            <a
              class="hamburger-menu"
              data-bls-dropdown="data-bls-dropdown"
              data-target="#menuWrapper"
              href="javascript:void(0);"
              title="Menu"
              ><span><span></span><span></span></span
              ><span><span></span><span></span></span
              ><span><span></span><span></span></span
            ></a>
            <div class="header__navigation bls-dropdown__menu" id="menuWrapper">
              <nav class="nav-main">
                <ul class="nav-main__menu" data-main-menu="data-main-menu">
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/about-me.html"
                      title="About Me"
                    >
                      About Me
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                    <div class="nav-main__second--item">
                      <ul class="nav-main__ul nav-main__ul-1">
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/about-me/biography"
                            title="Biography"
                          >
                            Biography
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/about-me/contact-me"
                            title="Contact Me"
                          >
                            Contact Me
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/research/index.html"
                      title="Research"
                    >
                      RESEARCH & SKILLS
                    </a>
                    <span class="btn-arrow"
                      ><i class="fa fa-angle-down"></i
                    ></span>
                    <div class="nav-main__second--item">
                      <ul class="nav-main__ul nav-main__ul-1">
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/fluvial-processes-and-landforms.html"
                            title="Fluvial Processes and Landforms"
                          >
                            Fluvial Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/aeolian-processes-and-landforms.html"
                            title="Aeolian Processes and Landforms"
                          >
                            Aeolian Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/coastal-and-submarine-processes-andlandforms.html"
                            title="Coastal and Submarine Processes and Landforms"
                          >
                            Coastal and Submarine Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/antropogenic-geomorphology.html"
                            title="Antropogenic Geomorphology"
                          >
                            Antropogenic Geomorphology
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/environmental-change.html"
                            title="Environmental Change"
                          >
                            Environmental Change
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/planetary-processes-and-landforms.html"
                            title="Planetary Processes and Landforms"
                          >
                            Planetary Processes and Landforms
                          </a>
                        </li>
                        <li class="nav-main__second--li">
                          <a
                            class="nav-main__link"
                            href="/project/research/methodological-approach.html"
                            title="Methodological Approach"
                          >
                            Methodological Approach
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/publications.html"
                      title="Publications"
                    >
                      Publications
                    </a>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/news/index.html"
                      title="News"
                    >
                      MAPS & MODELS
                    </a>
                  </li>
                  <li class="nav-main__first--li has-sub">
                    <a
                      class="nav-main__link"
                      href="/project/news/index.html"
                      title="News"
                    >
                      Blog
                    </a>
                  </li>
                </ul>
                <div class="nav-main__traduction"></div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
